*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul{
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 414px;
    height: 896px;
    margin: 10px auto;
   
}



