*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


ul{
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    font-family: $font-main;
    border: 1px solid $color-dark;
    width: 414px;
    height: 896px;
    border-radius: 20px;
}



