@font-face {
    font-family: 'title-font';
    src: url('../../assets/fonts/SFProRoundedRegular.ttf') format('truetype'),
    url('../../assets/fonts/SFProRoundedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    

}




