@mixin main-template ($bg-color  ,$percent:0% , $border-color:$color-dark){
    width: 414px;
    height: 896px;
    // border: 1px solid $border-color;
     border-radius: 20px;
    background-color: darken($color: $bg-color, $amount: $percent);
}