.alert {
  position: absolute;
  bottom: 170px;
  width: 300px;
  
  background-color: $color-white;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  padding: 5px;
  display: none;
  margin: auto;
}

.alert-success {
color: $color-success;
border: 1px solid $color-success;
}

.alert-error {
  color: $color-danger;
  border: 1px solid $color-danger;
}

.show {
  display: block;
}
