.foodInCart {
  display: flex;
  padding: 17px;
  background-color: $color-white;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  width: 315px;
  height: 102px;

  &-image {
    width: 70px;
    height: 70px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
    gap: 15px;

    &-name {
      font-size: 1.07rem;
      font-weight: 600;
    }

    &-price {
      font-size: 0.93rem;
      font-weight: 600;
      color: $color-primary;
    }
  }
  &-quantity {
    display: flex;
    position: absolute;
    right: 24px;
    bottom: 17px;
    gap: 10px;
    &-qty {
      width: 52px;
      height: 20px;
      background-color: $color-primary;
      color: $color-white;
      border: none;
      border-radius: 20px;
      text-align: center;
      font-weight: 600;
      font-size: 0.93rem;

      &:focus {
        border: none;
      }
    }
  }
}
