.homePage {
  @include main-template(
    $bg-color: $background-color-primary,
    $border-color: $color-dark
  );

  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 74px 41px 43px 41px;

    &-cartShop {
      position: relative;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-content {
    position: relative;
    height: 70%;

    &-title {
      font-family: $font-title;
      line-height: 40px;
      font-size: 2.2rem;
      margin-bottom: 28px;
      margin-left: 50px;
    }

    &-filter {
      display: flex;
      justify-content: space-between;
      padding: 0px 41px 0px 41px;
      margin-bottom: 100px;
      margin-top: 46px;
      font-size: 1.06rem;

      &-item {
        &:hover {
          cursor: pointer;
        }
      }
    }

    &-food {
      display: flex;
      padding: 0px 41px 0px 41px;
      gap: 30px;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      &-loader {
        top: 60%;
        left: 175px;
      }
    }
  }
}

.mainMenu {
  @include main-template($bg-color: $color-primary, $border-color: $color-dark);

  position: absolute;
  top: 10px;

  &-list {
    margin-top: 161px;
    margin-left: 38px;
    color: $color-white;

    li {
      margin-bottom: 26px;
      display: flex;
      gap: 12px;

      span {
        border-bottom: 1px solid
          darken($color: $background-color-primary, $amount: 30%);
        padding-bottom: 27px;
        width: 130px;
        font-weight: 600;
        font-size: 1.06rem;
        display: inline-block;
      }
    }
  }

  &-signOut {
    margin-left: 41px;
    color: $color-white;
    font-weight: 600;
    font-size: 1.06rem;
    bottom: 87px;
    position: absolute;

    &:hover {
      cursor: pointer;
    }
  }
}

.showMenu {
  border: none;
  transform: translate(220px, 0px) scale(0.7);
  box-shadow: -30px 50px 0px 9px rgba(255, 255, 255, 0.3);
}

.showUl li {
  position: relative;
}

.linkStyle {
  color: $color-dark;
}

.linkStyleLi {
  color: $color-white;
}
