.historyPage {
  @include main-template(
    $bg-color: lighten($color: $background-color-primary, $amount: 3%)
  );
  
  
  position: relative;
}

.header {
  display: flex;

  svg {
    position: absolute;
    margin-left: 41px;
    margin-top: 60px;
  }

  h3 {
    text-align: center;
    margin: auto;
    margin-top: 60px;
  }
}

.content {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .emptyHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  
}
