.noInternetPage{
    width: 414px;
    height: 896px;
    border-radius: 20px;
    background-color: lighten($color: $background-color-primary, $amount: 3%);
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}