.noInternetPage{
    @include main-template(
        $bg-color: lighten($color: $background-color-primary, $amount: 3%)
      );
    
   
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}